//breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 900px;

//colors
$primary: #0a2201;
$primary-lighter: #618b4a;
$accent: #fffc31;
$accent-darker: #ff9505;
$black: #12100e;

//doggies types colors

$human: #75402f;
$blue:#2f7fbe;
$alien:#2e8e72;
$zombie:#567244;
$dogg:#6d2916;
$robot: #9294a4;
$golden: #af721d;
